@page "/password-reset"

<Toast @ref="toast" />

<div class="login-page">
    @if (_codeSent)
    {
        <h3 class="text-center">Create your new password</h3>
        <div class="login-form">
            <label for="password">Password:</label>
            <input type="password" id="password" @bind="_password" class="form-control" placeholder="Enter your new password" />
            <label for="password">Reenter password:</label>
            <input type="password" id="password" @bind="_passwordRepeated" class="form-control" placeholder="Reenter your password" />
            <label for="password">Reset code from email:</label>
            <input @bind="_resetRequiredCode" class="form-control" placeholder="Code sent to email" />

            <button class="btn btn-primary mt-3 w-100" @onclick="ResetPassword">Reset password</button>
        </div>
    }
    else
    {
        <div class="login-form">
            <label>Username:</label>
            <input @bind="_username" class="form-control" placeholder="Enter your Username" />
            <button class="btn btn-primary mt-3 w-100" @onclick="SendPasswordResetRequest">Get code via email</button>
        </div>
    }
</div>